# Node modules
node_modules/

#env
.env
#firebase config file
service-account-file.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Temporary files
tmp/
temp/
